#nusoma
NUSOMA_SERVICE_SECRET=
AGENT_URL=http://127.0.0.1:2000

#InstantDB
NEXT_PUBLIC_INSTANT_APP_ID=
INSTANT_APP_ADMIN_TOKEN=

#PostHog
NEXT_PUBLIC_POSTHOG_KEY=phc_

#FAL AI
FAL_KEY=

#Upstash
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

#Polar
POLAR_ACCESS_TOKEN="polar_pat..."
POLAR_WEBHOOK_SECRET="..."

#vercel
AI_GATEWAY_API_KEY=vck_xxx
NEXT_PUBLIC_APP_URL=http://localhost:3000
ENV=development
